{% extends "base.twig" %}

{% block banner %}
    <img src="{{ episode.banner }}" width="900" height="400" alt="" />
{% endblock %}

{% block content %}
    <h2 class="title">{{ episode.title }}</h2>

    {{ content|replace({'(excerpt)': ' '}) }}

    {% if episode.sound is defined %}
        <audio controls>
            <source src="{{ episode.sound }}" type="audio/mpeg">
        </audio>
    {% endif %}

{% endblock %}
